asgiref==3.8.1
Django==5.1
django-cors-headers==4.4.0
django-phonenumber-field==8.0.0
djangorestframework==3.15.2
flake8==7.1.1
iniconfig==2.0.0
mccabe==0.7.0
packaging==24.1
phonenumbers==8.13.44
phonenumberslite==8.13.44
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.3
pytest-django==4.9.0
sqlparse==0.5.1
pycodestyle==2.12.1
pyflakes==3.2.0
django-pytest==0.2.0
pytest==8.3.2
django_currentuser==0.8.0